*{
    margin: 0;
    padding: 0;
}

h1{
/*    text-shadow: 0 0 3px black;*/
}

h4{
    margin-left: 20px;
}

p{
    margin: 10px 20px;
    font: 100% Arial;
}

p::-moz-selection{
    background: White;
    color: black;
}

p::selection{
    background: White;
    color: black;
}

.wrapper{
    width: 100%;
    height: auto;
    background: #efc63e;

}

header{
    width: 100%;
    color: beige;
    background: LightCoral;
    text-align: center;
    padding: 20px;
    text-shadow: 0 0 3px black;
    position: fixed;
/*    box-shadow: 0 2px 3px black;*/
    box-shadow: 0px 1px 4px black;

}
header p{
    font-size: 150%;
    font-style: italic;
}


.dict{
    background: rgb(53, 53, 53);
    width: 15%;

    position: fixed;
    top: 18%;
    bottom: 0;
    overflow: auto;
    z-index: -1;
}

.dict div{
    margin: 0 20px;

/*    background: red;*/
}

.dict a{
    text-decoration: none;
    color: rgb(160, 160, 160);
    font-size: 150%;
}

.comments{
/*    background: rgb(208,199,155);*/
/*    background: url(block3.png);*/
    background: #b2c3c9;
    float: right;
    width: 85%;
/*    margin-top: 150px;*/
    padding-top: 150px;
}

.comments a:target{
    display: block;
    height: 150px;
}